.header {
  grid-area: header;
  display: flex;
}

.headingBox {
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.headingBox img {
  height: 90%;
  margin-left: 1rem;
}
.computerBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.computerBox img {
  height: 90%;
}

.textBox {
  background-color: aliceblue;
  width: 75%;
  height: 60%;
  margin-left: 1rem;
  border-radius: 5px;
  border: 5px dashed rgb(69, 0, 97);
  padding: 1rem;
}

.newGameBtn:focus {
  outline: none;
}

.newGameBtn:hover {
  cursor: pointer;
  box-shadow: 2px 2px 10px black;
}

.newGameBtn:active {
  cursor: pointer;
  box-shadow: -2px -2px 10px black;
}
