@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Luckiest+Guy&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../src/img/bg.jpg");
  background-size: cover;
  background-position: center center;
  font-family: "Chelsea Market", cursive;
}
