.questionCard {
  width: 10%;
  background-color: rgba(190, 223, 224, 0.966);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 0 20px black;
  border-radius: 10px;
  font-size: 0.7rem;
  margin: 1rem;
}

.questionCard img {
  width: 100%;
}

.questionCard:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.questionCard i {
  position: absolute;
  right: 0.2rem;
  top: -0.4rem;
  font-size: 1rem;
  background-color: white;
  border-radius: 50%;
}

.gray {
  color: gray;
}

.green {
  color: rgb(0, 128, 90);
}

.red {
  color: rgb(255, 0, 64);
}
